page-menu-page {
   input[type=range][orient=vertical]
{
    writing-mode: tb-rl; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    width: 100%;
    height: 100%;
    padding: 0 5px;
    position: relative;

}
ion-grid {
    height:100%;
}
ion-col{
    height:100%;

}
ion-row {
    height:100%;
}
ion-scroll { white-space: nowrap; 
height: 100%;}
}
